.nav__container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 87px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.nav__list,
.auth__list {
  display: flex;
}

.nav__item {
  .nav__list &:not(:last-child) {
    margin-right: 50px;
  }
}

.auth__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    .auth__list &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.auth__list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: block;
    padding: 21px 0;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.nav__link {
  position: relative;

  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);

  &::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;

    background-color: var(--button-primary-background-color);
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &::after {
      bottom: -5px;
    }
  }
}

.nav__link--current {
  color: var(--accent-text-color);

  &::after {
    opacity: 1;
  }
}

.auth__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 32px 0;
  }
}

.auth__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms var(--timing-function);

  .auth__link:hover &,
  .auth__link:focus & {
    fill: var(--accent-text-color);
  }
}
